<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2><%= @hogwarts_class.course.subject %>-<%= @hogwarts_class.course.section %>
        <%= @hogwarts_class.course.course_name %></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h4>Professor: <%= @hogwarts_class.professor.last_name %></h4>
      <h4>Meeting Times: </h4>
    </div>
  </div>
</div>
