<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2>Registration</h2>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <h3>Select a student</h3>
        <ul>
        <% @students.each do |student| %>
          <li>
            <%=link_to(registration_path(student), class: "nav-link") do %>
              <%= student.full_name %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
