<div class="container-fluid pl-0 pr-0">
  <div class="jumbotron jumbotron-fluid" id="home-jumbotron">
    <div class="container">
      <h1 class="display-4">Welcome Back!</h1>
      <p class="lead">
        <%=link_to(registrations_path(), class: "btn btn-main btn-lg") do %>
          Register for classes
        <% end %>
      </p>
    </div>
  </div>
</div>
