<div class="footer">
  <div class="banner row">
    <div class="col-md-3 g"></div>
    <div class="col-md-3 r"></div>
    <div class="col-md-3 h"></div>
    <div class="col-md-3 s"></div>
  </div>

  <footer class="text-center">

    <img src="<%=image_url('hogwarts_logo.png')%>" width="50" height="50" class="d-inline-block align-top" alt="">
    <br>
    <em>"Draco Dormiens <br/>Nunquam Titillandus"</em>

  </footer>
</div>
